.closeBox{
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background-color: white;
    border: 'none';
    box-shadow: 24;
    padding: 4;
        .icon{
            position: absolute;
            top: 20px;
            right: 20px;
            width: 20px;
            opacity: 50%;
            cursor: pointer;
        } 
        .icon:hover{
            opacity: 100%;
        }
}

@media screen and (max-width: 800px){
    .closeBox{
        width: 400px;
        .icon{
            top: 15px;
            right: 15px;
            width: 15px;
        }
    }
}

@media screen and (max-width: 500px){
    .closeBox{
        width: 300px;
    }
}
@media screen and (max-width: 350px){
    .closeBox{
        width: 200px;
    }
}