.song{
    width: 100%;
    height: 3px;
    background-color: rgb(226, 226, 226);
}

.songRow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    height: 40px;
    .divPlay{
        width: 60px;
        padding: 5px 0;
        height: 100%;
        margin-right: 1px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .icon{
            width: 15px;
            height: 15px;
            opacity: 50%;
            margin: 0 5px;
        }
        .icon:hover{
            opacity: 100%;
            cursor: pointer;
        }
    }
    .divName{
        padding: 5px 15px;
        margin: 0 1px;
        width: calc(31% - 2px);
        font-size: 18px;
        font-weight: 500;
        text-align: start;
        line-height: 35px;
    }
    .divNum{
        padding: 5px 10px;
        width: 50px;
        font-size: 18px;
        font-weight: 500;
        margin: 0 1px;
        text-align: start;
        line-height: 35px;
    }
    .divIcons{
        width: calc(25% - 1px);
        padding: 5px 0;
        margin-left: 1px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .icon{
            width: 15px;
            height: 15px;
            opacity: 50%;
            margin: 0 5px;
        }
        .icon:hover{
            opacity: 100%;
            cursor: pointer;
        }
    }
}


@media screen and (max-width: 700px){
    .songRow{
        .divPlay{
            width: 40px;
            .icon{
            }
        }
        .divName{
            padding: 5px 10px;
            font-size: 15px;
            line-height: 20px;
        }
        .divNum{
            padding: 5px;
            width: 38px;
            font-size: 15px;
            line-height: 20px;
        }
        .divIcons{
            .icon{

            }
        }
    }
}

@media screen and (max-width: 520px){
    .songRow{
        .divPlay{
            .icon{
                width: 12px;
                height: 12px;
                margin: 0 3px;
            }
        }
        .divName{
            font-size: 13px;
            padding: 5px 7px;
        }
        .divNum{
            width: 30px;
            font-size: 13px;
            padding: 5px;
        }
        .divIcons{
            .icon{
                width: 12px;
                height: 12px;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 450px){
    .songRow{
        height: 60px;
        .divIcons{
            flex-wrap: wrap;
            .icon{
                width: 15px;
                height: 15px;
                margin: 5px;
            }
        }
    }
}

@media screen and (max-width: 310px){
    .songRow{
        height: 60px;
        .divIcons{
            flex-wrap: wrap;
            .icon{
                width: 12px;
                height: 12px;
                margin: 4px;
            }
        }
    }
}